<ion-header>
  <ion-toolbar>
    <ion-title>writereview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Review movies </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Enter movie name </ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Enter your review</ion-label>
        <ion-textarea [(ngModel)]="review" type="text" ></ion-textarea>
      </ion-item>
      <ion-button type="button" (click)="addReview()" expand="block" > Add your review</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
