<ion-header>
  <ion-toolbar>
    <ion-title>display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
  <h1 class="title">Popular movies</h1>
  <ion-row class="forecast_container">
    <ion-col *ngFor="let movie of movies">
  <ion-card class="card" >
  <ion-list>
    
      <ion-item>
        <img src="{{movie.photo}}" class="image"/>
      </ion-item>
      <ion-item>
        <ion-button href="{{movie.description}}" class="button">{{movie.name}} </ion-button>
      </ion-item>
    </ion-list>
  </ion-card> </ion-col>
  

    </ion-row>


    <h1 class="title">New Release</h1>
    <ion-row class="forecast_container">
      <ion-col *ngFor="let newmovie of newmovies">
    <ion-card class="card" >
    <ion-list>
      
        <ion-item>
          <img src="{{newmovie.photo}}" class="image"/>
        </ion-item>
        <ion-item>
          <ion-button href="{{newmovie.description}}" class="button">{{newmovie.name}} </ion-button>
        </ion-item>
      </ion-list>
    </ion-card> </ion-col>
      </ion-row>


      <h1 class="title">series</h1>
      <ion-row class="forecast_container">
        <ion-col *ngFor="let newmovie of newmovies">
      <ion-card class="card" >
      <ion-list>
        
          <ion-item>
            <img src="{{newmovie.photo}}" class="image"/>
          </ion-item>
          <ion-item>
            <ion-button href="{{newmovie.description}}" class="button">{{newmovie.name}} </ion-button>
          </ion-item>
        </ion-list>
      </ion-card> </ion-col>
      
    
        </ion-row>
 
</ion-content>
