<ion-header>
  <ion-toolbar>
    <ion-title>display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
  <ion-row class="forecast_container">
    <ion-col>
  <ion-card class="card" >
  <ion-list>
      <ion-item>
        <img src="https://cdn.idesignow.com/public_html/img/2018/03/psd-movie-night-flyer-1.jpg" class="image"/>
      </ion-item>
      <ion-item>
        <ion-label >Movie Name </ion-label>
      </ion-item>
    </ion-list>
  </ion-card> </ion-col>
  <ion-col>
  <ion-card class="card">
    <ion-list>
        <ion-item>
          <img src="https://cdn.idesignow.com/public_html/img/2018/03/psd-movie-night-flyer-1.jpg" class="image"/>
        </ion-item>
        <ion-item>
          <ion-label >Movie Name </ion-label>
        </ion-item>
      </ion-list>
    </ion-card> 
  </ion-col>
  <ion-col>
    <ion-card class="card">
      <ion-list>
          <ion-item>
            <img src="https://cdn.idesignow.com/public_html/img/2018/03/psd-movie-night-flyer-1.jpg" class="image"/>
          </ion-item>
          <ion-item>
            <ion-label >Movie Name </ion-label>
          </ion-item>
        </ion-list>
      </ion-card> 
    </ion-col>
    <ion-col>
      <ion-card class="card">
        <ion-list>
            <ion-item>
              <img src="https://cdn.idesignow.com/public_html/img/2018/03/psd-movie-night-flyer-1.jpg" class="image"/>
            </ion-item>
            <ion-item>
              <ion-label >Movie Name </ion-label>
            </ion-item>
          </ion-list>
        </ion-card> 
      </ion-col>

    </ion-row>
</ion-content>
